---
import Logo from "../components/Logo.astro"
import Button from "../components/shared/Button.astro"
import Cricket from "../components/shared/Cricket.astro"
import Sprint from "../components/shared/Sprint.astro"
import Vo from "../components/shared/Vo.astro"
import Verizon from "../components/shared/Verizon.astro"
import Atyt from "../components/shared/At&t.astro"
import Metropcs from "../components/shared/Metropcs.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body class="bg-gradient-to-b from-blue-950 to-fuchsia-950 text-white">
    <header
      class="max-w-page-max-width mx-auto p-4 items-center flex justify-between gap-4"
    >
      <div class="max-w-xs">
        <Logo />
      </div>

      <ul class="flex items-center gap-12">
        <li><a href="">Home</a></li>
        <li><a href="">Account</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Developers</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Support</a></li>
        <li>
          <Button>GET STARTED</Button>
        </li>
      </ul>
    </header>

    <section class="max-w-4xl mx-auto my-40 p-4 flex flex-col gap-4">
      <h6 class="text-2xl">The Night Sky</h6>
      <h1 class="text-7xl flex flex-col gap-4 leading-tight">
        <span>Beyond the</span>
        <span>Naked Eye</span>
      </h1>
      <nav class="flex gap-4 items-center mt-6">
        <Button>GET STARTED</Button>
        <Button>LEARN MORE</Button>
      </nav>
      <nav class="flex items-center">
        <div class="mr-7">
          <Cricket />
        </div>
        <div class="mr-7">
          <Sprint />
        </div>
        <div class="mr-7">
          <Vo />
        </div>
        <div class="mr-7">
          <Verizon />
        </div>
        <div class="mr-7">
          <Atyt />
        </div>
        <div>
          <Metropcs />
        </div>
      </nav>
    </section>

    <section>
      <div>
        <h6>The Glossary Of Telescopes</h6>
        <h1>EXPERIENCE THE EXTRAORDINARY</h1>
        <p>
          Have you ever finally just gave in to the temptation and read your
          horoscope in the newspaper on Sunday morning? Sure, we have. For most
          of us, it's a curiosity.
        </p>
      </div>
      <div>
        <div>
          <img src="" alt="" />
          <h6>Picture In The Sky</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h6>Asteroids</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h6>The Glossary Of Telescopes</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h6>How To Look Up</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h6>Space The Final Frontier</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h6>Dude You Re Getting A Telescopes</h6>
          <p>
            Have you ever finally just gave in to the temptation and read your
            horoscope in the newspaper on Sunday morning? Sure, we have.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <img src="" alt="" />
        <h6>Radio Astronomy</h6>
        <h1>See More Than Your Eye Does</h1>
        <p>
          Shared Windows Packages, Reseller. Each Hosting Directory Category has
          a list of plans. Each plan is accompanies by a short synopsis.
        </p>
        <p>
          At one shot, you would be able to sort these plans by any of the
          following factors --Price, ranting, Web Space, Data Transfer. With
          such a high range of flexibility in filtering.
        </p>
        <button>START NOW</button>
      </div>
    </section>
    <section>
      <div>
        <img src="" alt="" />
        <h6>The Night Sky</h6>
        <h1>FINDING THE HAPPINESS IS NOT THAT HARD IN MOBILE</h1>
        <p>
          Shared Windows Packages, Reseller. Each Hosting Directory Category has
          a list of plans. Each plan is accompanies by a short synopsis.
        </p>
        <p>
          At one shot, you would be able to sort these plans by any of the
          following factors --Price, ranting, Web Space, Data Transfer. With
          such a high range of flexibility in filtering.
        </p>
        <button>SEARCH IT</button>
      </div>
    </section>
    <footer>
      <div>
        <h1>SPACED</h1>
        <p>UMLINITED STAR WARS AWAITS YOU, SIR!!</p>
      </div>
      <div>
        <ul>
          <li>Explore</li>
          <br />
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Privacy Policy</li>
        </ul>
        <ul>
          <li>Explore</li>
          <br />
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Privacy Policy</li>
        </ul>
        <ul>
          <li>Explore</li>
          <br />
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
