---
import Logo from "./Logo.astro"
---

<footer
  class="bg-cover bg-no-repeat bg-top bg-black"
  style="background-image: url(/footer-bg.jpg);"
>
  <div
    class="pt-40 text-center pb-12 px-4 flex gap-12 items-start justify-around max-w-page-max-width mx-auto"
  >
    <div class="flex flex-col gap-4 items-center justify-start">
      <span class="max-w-xs">
        <Logo />
      </span>
      <p class="text-gray-300">UNLIMITED STAR WARS AWAITS YOU, SIR!!</p>
    </div>

    <div>
      <nav class="flex gap-12 items-center">
        <div class="text-left">
          <h6 class="text-violet-400 font-medium mb-6">Credits</h6>
          <ul class="flex flex-col gap-4 text-gray-300">
            <li>
              <a
                class="underline"
                href="https://dribbble.com/shots/5543012-Space-Exploration-Landing-Page-Illustration/attachments/1199037?mode=media"
                >Inspired on this design</a
              > on Dribble
            </li>
            <li>
              <a
                class="underline"
                href="https://www.freepik.com/free-vector/arizona-night-desert-landscape-natural-wild-west-background-with-coyote-pack-silhouettes-run-through-cacti-rocks-cloudy-sky-with-full-moon-shining-game-scene-cartoon-vector-illustration_21050353.htm#query=illustrations&position=0&from_view=keyword&track=sph"
                >Hero image by upklyak</a
              > on Freepik
            </li>
            <li>
              <a
                class="underline"
                href="https://www.freepik.com/free-vector/desert-landscape-with-rocks-tropical-tree-plants-cactuses-night_10949899.htm"
                >Footer image by upklyak</a
              > on Freepik
            </li>
            <li>
              <a
                class="underline"
                href="https://www.freepik.com/free-vector/discovery-concept-illustration_14201181.htm#query=characted%20watching%20planet&position=48&from_view=search&track=ais"
                >First products image by storyset</a
              > on Freepik
            </li>
            <li>
              <a
                class="underline"
                href="https://www.freepik.com/free-vector/counting-stars-concept-illustration_12079897.htm#from_view=detail_alsolike#position=0"
                >Second products image by storyset</a
              > on Freepik
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div
    class="text-center flex flex-col gap-4 items-center justify-center py-20"
  >
    <p class="my-8">
      Developed by <a class="underline" href="https://gena.dev"
        >Genaro Bonavita</a
      > and <a class="underline" href="https://github.com/jsha64">Jorge</a> in 2023
    </p>
    <p class="font-bold">Website created with educational purpuoses only</p>
    <p class="font-bold">
      All copyright and intellectual property rights belong to their respective
      owners.
    </p>
  </div>
</footer>
