---
import Button from "./shared/Button.astro"
import Paragraph from "./shared/Paragraph.astro"
import Subtitle from "./shared/Subtitle.astro"
import Title from "./shared/Title.astro"
import Section from "./shared/Section.astro"
---

<Section
  direction="rtl"
  imageUrl="/girl-and-boy-pointing-at-sky.png"
  imageTitle="A girl and a boy pointing at sky"
>
  <Subtitle>The Night Sky</Subtitle>
  <Title>Finding the happiness is not that hard in mobile</Title>

  <Paragraph>
    Shared Windows Packages, Reseller. Each Hosting Directory Category has a
    list of plans. Each plan is accompanies by a short synopsis.
  </Paragraph>
  <Paragraph>
    At one shot, you would be able to sort these plans by any of the following
    factors --Price, ranting, Web Space, Data Transfer. With such a high range
    of flexibility in filtering.
  </Paragraph>

  <Button variant="primary">SEARCH IT</Button>
</Section>
