<section>
  <div class="text-center my-12">
    <h6 class="text-violet-400 font-medium text-xl">
      The Glossary Of Telescopes
    </h6>
    <h1 class="text-4xl mt-4 mb-8">EXPERIENCE THE EXTRAORDINARY</h1>
    <p class="max-w-2xl mx-auto">
      Have you ever finally just gave in to the temptation and read your
      horoscope in the newspaper on Sunday morning? Sure, we have. For most of
      us, it's a curiosity.
    </p>
  </div>

  <div>
    <div>
      <img src="" alt="" />
      <h6>Picture In The Sky</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <h6>Asteroids</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <h6>The Glossary Of Telescopes</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <h6>How To Look Up</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <h6>Space The Final Frontier</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <h6>Dude You Re Getting A Telescopes</h6>
      <p>
        Have you ever finally just gave in to the temptation and read your
        horoscope in the newspaper on Sunday morning? Sure, we have.
      </p>
    </div>
  </div>
</section>
