---
import ServiceCard from "./ServiceCard.astro"
import Subtitle from "./shared/Subtitle.astro"
import Title from "./shared/Title.astro"
import Paragraph from "./shared/Paragraph.astro"
---

<section>
  <div class="text-center my-12">
    <Subtitle>The Glossary Of Telescopes</Subtitle>
    <Title>EXPERIENCE THE EXTRAORDINARY</Title>

    <Paragraph centered>
      Have you ever finally just gave in to the temptation and read your
      horoscope in the newspaper on Sunday morning? Sure, we have. For most of
      us, it's a curiosity.
    </Paragraph>
  </div>

  <section
    class="grid grid-cols-2 md:grid-cols-3 items-center gap-12 max-w-page-max-width mx-auto my-20"
  >
    <ServiceCard
      title="Picture In The Sky"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
    <ServiceCard
      title="Asteroids"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
    <ServiceCard
      title="The Glossary Of Telescopes"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
    <ServiceCard
      title="How To Look Up"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
    <ServiceCard
      title="Space The Final Frontier"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
    <ServiceCard
      title="Dude You Re Getting A Telescopes"
      description="Have you ever finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning? Sure, we have."
      imgSrc="/planet.png"
      imgTitle=""
    />
  </section>
</section>
