---
interface Props {
  imgSrc: string
  imgTitle: string
  title: string
  description: string
}

const { imgSrc, imgTitle, description, title } = Astro.props
---

<article class="max-w-[400px] flex gap-4 items-start justify-center">
  <img class="max-w-[80px] h-auto aspect-square" src={imgSrc} alt={imgTitle} />

  <div class="flex flex-col gap-4">
    <h6 class="font-medium text-gray-200">{title}</h6>
    <p class="text-gray-400">
      {description}
    </p>
  </div>
</article>
