---
import Button from "./shared/Button.astro"
import Paragraph from "./shared/Paragraph.astro"
import Subtitle from "./shared/Subtitle.astro"
import Title from "./shared/Title.astro"
---

<section>
  <div>
    <img src="" alt="" />
    <Subtitle>Radio Astronomy</Subtitle>
    <Title>See More Than Your Eye Does</Title>

    <Paragraph>
      Shared Windows Packages, Reseller. Each Hosting Directory Category has a
      list of plans. Each plan is accompanies by a short synopsis.
    </Paragraph>
    <Paragraph>
      At one shot, you would be able to sort these plans by any of the following
      factors --Price, ranting, Web Space, Data Transfer. With such a high range
      of flexibility in filtering.
    </Paragraph>

    <Button variant="primary">START NOW</Button>
  </div>
</section>
